<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>教师界面</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<script type="text/javascript">
    layui.use('element', function() {
        var element = layui.element;
        element.on('tab(demo)', function(data) {
            console.log(data);
        });
    });
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;
        // layer.msg('学生成绩管理系统-叶广宇，沈尧');
    });
</script>
<body>
<div class="layui-tab" lay-filter="demo">
    <ul class="layui-tab-title">
        <li >个人信息</li>
        <li class="layui-this">教师成绩管理</li>
        <div style="margin-right: 20px;float:right">
            <a class="layui-btn layui-btn-xs" href="{:url('Admin/logout')}">注销账号</a>
        </div>
    </ul>

    <div class="layui-tab-content" style="width: 80%; padding-left: 10%;">
        <div class="layui-tab-item  ">
            <table class="layui-table">
                <colgroup>
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                </colgroup>
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{$teacher.teacherName}</td>
                    <td>{$teacher.teacherAge}</td>
                    <td>{$teacher.teacherSex}</td>
                    <td><a class="layui-btn layui-btn-xs" href="{:url('Admin/changePwd')}">更改密码</a>
                        <a class="layui-btn layui-btn-xs" href="{:url('Admin/logout')}">注销账号</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 			查询学生信息------------------------------------------------------ -->
        <div class="layui-tab-item layui-show" >
            <center>
                <table class="layui-table">
                    <colgroup>
                        <col width="100">
                        <col width="100">
                        <col width="100">
                        <col width="150">
                        <col width="100">
                        <col width="200">
                        <col width="100">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>开课编号</th>
                        <th>考试性质</th>
                        <th>课程号</th>
                        <th>课程名</th>
                        <th>修习类别</th>
                        <th>上课班级</th>
                        <th>成绩</th>
                        <th>管理</th>
                    </tr>
                    </thead>
                    <tbody>

                    {volist name="onCourseList" id="a"}
                    <tr>
                        <td>{$a.onCourseId}</td>
                        <td>{$a.natureName}</td>
                        <td>{$a.courseId}</td>
                        <td>{$a.courseName}</td>
                        <td>{$a.electiveName}</td>
                        <td>
                            {volist name="a.className" id="b"}
                                 {$b.className}
                            {/volist}
                        </td>
                        <td>{$a.isEntryName}</td>

                        <td>
                            <!-- 								对OnCourse表的更新 -->
                            <a href="{:url('teacher/setOnCourse',['onCourseId'=>$a.onCourseId])}"  class="layui-btn layui-btn-xs">设置占比</a>
                            <!-- 								    对achievementDetail更新检验 合值 -->
                            <a href="{:url('teacher/entry',['onCourseId'=>$a.onCourseId])}" class="layui-btn layui-btn-xs">录入成绩</a>
                            <!-- 									修改isEntry并插入achiment; -->
                            <a href="{:url('teacher/doEntry',['onCourseId'=>$a.onCourseId])}" class="layui-btn layui-btn-xs">提交结果</a></td>

                        </td>

                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </center>
        </div>
    </div>
</div>
</div>
</body>
</html>