<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级查询结果</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<!--<style>-->
<!--    .pagination {}-->
<!--    .pagination li {display: inline-block;margin-right: -1px;padding: 5px;border: 1px solid #e2e2e2;min-width: 20px;text-align: center;}-->
<!--    .pagination li.active {background: #009688;color: #fff;border: 1px solid #009688;}-->
<!--    .pagination li a {display: block;text-align: center;}-->
<!--</style>-->
<script type="text/javascript">
    layui.use('element', function() {
        var element = layui.element;
        element.on('tab(demo)', function(data) {
            console.log(data);
        });
    });
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form,$ = layui.$;
        // layer.msg('学生成绩管理系统-叶广宇，沈尧');
    });
</script>


<body>
<div id="test">
    <form class="layui-form" action="{:url('/findClass')}" method="post"style="width: 650px;margin: 20px auto;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">专业名</label>
                <div class="layui-inline">
                    <input type="text" name="majorName" placeholder="请输入专业名" autocomplete="off"
                           class="layui-input">
                </div>
                <label class="layui-inline">专业</label>
                <div class="layui-inline">
                    <select name="majorId">
                        <option value="">空</option>
                        {volist name="majorList" id="a"}
                        <option value="{$a.majorId}">{$a.majorName}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">班级名</label>
                <div class="layui-inline">
                    <input type="text" name="className" placeholder="请输入班级名" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">查询班级</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <br>
    <hr>
    <table class="layui-table" style="width:1000px;margin: 10px auto;">
        <colgroup>
            <col width="300">
            <col width="300">
<!--            <col width="300">-->
            <col width="120">
        </colgroup>
        <thead>
        <tr>
            <th>专业名</th>
<!--            <th>班级编号</th>-->
            <th>班级名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {volist name="classList" id="a"}
            <tr>
                <td>{$a.majorName}</td>
<!--                <td>{$a.classId}</td>-->
                <td>{$a.className}</td>
                <td><a href="{:url('/updateClass',['classId'=>$a.classId])}" class="layui-btn-xs layui-btn">修改 </a>
                    <a href="{:url('/deleteClass',['classId'=>$a.classId])}" class="layui-btn-xs layui-btn">删除 </a></td>
            </tr>
            {/volist}
        </tbody>
    </table>
    {$classList->render()}
    <div></div>

    <div>
    <a href="{:url('/dean')}" style="float: right;margin-right: 20%;">
        <button type="button" class="layui-btn layui-btn-primary">后退</button>
    </a>
    <a href="{:url('/insertClass')}" class="layui-btn" style="float: right;margin-right: 20px;">添加新的班级</a>
    </div>
</div>
</body>
</html>