<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生查找结果</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<script type="text/javascript">
    layui.use('element', function() {
        var element = layui.element;
        element.on('tab(demo)', function(data) {
            console.log(data);
        });
    });
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;
        // layer.msg('学生成绩管理系统-叶广宇，沈尧');
    });
</script>
<body>
    <table class="layui-table" style="width: 1520px;margin-left: 8px;">
        <colgroup>
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="200">
        </colgroup>
        <thead>
        <tr>
            <th>开课编号</th>
            <th>考试形式</th>
            <th>考试性质</th>
            <th>任课教师</th>
            <th>课程编号</th>
            <th>成绩制度</th>
            <th>成绩是否录入</th>
            <th>录入截止时间</th>
            <th>考试时间</th>
            <th>修习类别</th>
            <th>学期</th>
            <th>教室</th>
            <th> 操 作 </th>
        </tr>
        </thead>
        <tbody>
            {volist name="onCourseList" id="a"}
            <tr>
                <td>{$a.onCourseId}</td>
                <td>{$a.examFormName}</td>
                <td>{$a.natureName}</td>
                <td>{$a.teacherName}</td>
                <td>{$a.courseName}</td>
                <td>{$a.showFormName}</td>
                <td>{$a.isEntryName}</td>
                <td>{$a.deadline}</td>
                <td>{$a.examTime}</td>
                <td>{$a.electiveName}</td>
                <td>{$a.term}</td>
                <td>{$a.classroom}</td>
                <td>
                    <a href="{:url('/updateOnCourse',['onCourseId'=>$a.onCourseId])}" class="layui-btn-xs layui-btn">修改 </a>
                    <a href="{:url('/insertStudentOnCourse',['onCourseId'=>$a.onCourseId])}" class="layui-btn-xs layui-btn">添加学生</a>
                    <a href="{:url('/deleteOnCourse',['onCourseId'=>$a.onCourseId])}" class="layui-btn-xs layui-btn">删除</a>
                </td>

            </tr>
            {/volist}
        </tbody>

    </table>
    <a href="{:url('/dean')}" style="float: right;margin-right: 10%;">
        <button type="button" class="layui-btn layui-btn-primary">后退</button>
    </a>
</body>
</html>