<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级查询结果</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<script type="text/javascript">
    layui.use('element', function() {
        var element = layui.element;
        element.on('tab(demo)', function(data) {
            console.log(data);
        });
    });
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;
        // layer.msg('学生成绩管理系统-叶广宇，沈尧');
    });
</script>
<body>
<div id="test">
    <table class="layui-table">
        <colgroup>
        </colgroup>
        <thead>
        <tr>
            <th>专业名</th>
            <th>班级编号</th>
            <th>班级名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            {volist name="classList" id="a"}
            <tr>
                <td>{$a.majorName}</td>
                <td>{$a.classId}</td>
                <td>{$a.className}</td>
                <td><a href="{:url('dean/updateClass',['classId'=>$a.classId])}" class="layui-btn-xs layui-btn">修改 </a>
                    <a href="{:url('dean/deleteClass',['classId'=>$a.classId])}" class="layui-btn-xs layui-btn">删除 </a></td>
            </tr>
            {/volist}
        </tbody>
    </table>
    <a href="{:url('Dean/index')}" style="float: right;margin-right: 10%;">
        <button type="button" class="layui-btn layui-btn-primary">后退</button>
    </a>
</div>
</body>
</html>