<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开启课程</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<script type="text/javascript">
    layui.use('element', function() {
        var element = layui.element;
        element.on('tab(demo)', function(data) {
            console.log(data);
        });
    });
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;
        // layer.msg('学生成绩管理系统-叶广宇，沈尧');
    });
</script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        var date2 = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#date1',
            trigger : 'click',
        });
        date2.render({
            elem: '#date2',
            trigger : 'click',
        });
    });
</script>

<body>
<br>
<form class="layui-form" action="{:url('dean/doInsertOnCourse')}" method="post">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开课编号</label>
            <div class="layui-inline">
                <input type="text" name="onCourseId" required lay-verify="required" placeholder="请输入开课编号" autocomplete="off"
                       class="layui-input">
            </div>
            <label class="layui-inline">教师编号</label>
            <div class="layui-inline">
                <input type="text" name="teacherId" placeholder="请输入教师编号" required lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">考试形式</label>
            <div class="layui-inline">
                <select name="examFormId" required lay-verify="required">
<!--                    <option value="">空</option>-->
                        {volist name="examFormList" id="a"}
                        <option value="{$a.examFormId}">{$a.examFormName}</option>
                        {/volist}
                </select>
            </div>
            <label class="layui-inline">考试性质</label>
            <div class="layui-inline">
                <select name="natureId" required lay-verify="required">
<!--                    <option value="">空</option>-->
                        {volist name="examNatureList" id="a"}
                        <option value="{$a.natureId}">{$a.natureName}</option>
                        {/volist}
                </select>
            </div>
            <label class="layui-inline">修习类别</label>
            <div class="layui-inline">
                <select name="electiveId" required lay-verify="required">
<!--                    <option value="">空</option>-->
                        {volist name="electiveList" id="a"}
                        <option value="{$a.electiveId}">{$a.electiveName}</option>
                        {/volist}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">成绩制度</label>
        <div class="layui-input-inline">
            <select name="showFormId" required lay-verify="required">
<!--                <option value="">空</option>-->
                    {volist name="showFormList" id="a"}
                    <option value="{$a.showFormId}">{$a.showFormName}</option>
                    {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">课程编号</label>
            <div class="layui-inline">
                <input type="text" name="courseId" placeholder="课程编号" autocomplete="off" required lay-verify="required"
                       class="layui-input">
            </div>
            <label class="layui-inline">学期</label>
            <div class="layui-inline">
                <input type="text" name="term" placeholder="请输入学期" autocomplete="off" required lay-verify="required"
                       class="layui-input">
            </div>
            <label class="layui-inline">上课教室</label>
            <div class="layui-inline">
                <input type="text" name="classroom" placeholder="上课教室" autocomplete="off" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">考试日期</label>
            <div class="layui-inline">
                <input type="text" id="date1" name="examTime" placeholder="请输入考试时间" autocomplete="off" required lay-verify="required"
                       class="layui-input" >
            </div>
            <label class="layui-inline">截至日期</label>
            <div class="layui-inline">
                <input type="text" id="date2" name="deadline" placeholder="请输入截至录入时间" autocomplete="off" required lay-verify="required"
                       class="layui-input" >
            </div>
        </div>
        <div class="layui-inline layui-word-aux">格式为: 2019-7-3</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">开课</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <a href="{:url('Dean/index')}">
                <button type="button" class="layui-btn layui-btn-primary">后退</button>
            </a>
        </div>
    </div>
</form>
</body>
</html>