<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改已开课程</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<script type="text/javascript">
    layui.use('element', function() {
        var element = layui.element;
        element.on('tab(demo)', function(data) {
            console.log(data);
        });
    });
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;
        form.verify({
            termVerify: [
                /\d{5}/,'请输入正确的格式如：20192'
            ]
        })
        // layer.msg('学生成绩管理系统-叶广宇，沈尧');
    });
</script>
<body>
<form class="layui-form" action="{:url('/doUpdateOnCourse')}" method="post" style="width:1200px ;margin: 20px auto;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-inline">
            <label class="layui-form-label">开课编号</label>
            <div class="layui-inline">
                <input type="text" name="onCourseId" placeholder="请输入开课编号" autocomplete="off"
                       class="layui-input" value="{$onCourse.onCourseId}">
            </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">教师编号</label>
                <div class="layui-inline">
                    <select name="teacherId" required lay-verify="required">
                        {volist name="teacherList" id="a"}
                        <option value="{$a.teacherId}" {$onCourse.teacherId==$a.teacherId?'selected':''}>{$a.teacherId}:{$a.teacherName}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">考试形式</label>
            <div class="layui-inline">
                <select name="examFormId" value="{$onCourse.examFormId}">
                    {volist name="examFormList" id="a"}
                    <option value="{$a.examFormId}" {$onCourse.examFormId==$a.examFormId?'selected':''}>{$a.examFormName}</option>
                    {/volist}
                </select>
            </div>
            <label class="layui-inline">考试性质</label>
            <div class="layui-inline">
                <select name="natureId" value="{$onCourse.natureId}">
                    <option value="">空</option>
                        {volist name="examNatureList" id="a"}
                        <option value="{$a.natureId}" {$onCourse.natureId==$a.natureId?'selected':''}>{$a.natureName}</option>
                        {/volist}
                </select>
            </div>
            <label class="layui-inline">修习类别</label>
            <div class="layui-inline">
                <select name="electiveId" value="{$onCourse.electiveId}">
                    <option value="">空</option>
                        {volist name="electiveList" id="a"}
                        <option value="{$a.electiveId}"  {$onCourse.electiveId==$a.electiveId?'selected':''}>{$a.electiveName}</option>
                    {/volist}
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">学期</label>
            <div class="layui-inline">
                <input type="text" name="courseId" placeholder="课程编号" autocomplete="off"
                       class="layui-input" value="{$onCourse.courseId}">
            </div>
            <label class="layui-inline">学期</label>
            <div class="layui-inline">
                <input type="text" name="term" placeholder="请输入学期" autocomplete="off" required lay-verify="required|termVerify|number"
                       class="layui-input" value="{$onCourse.term}">
            </div>
            <label class="layui-inline">上课教室</label>
            <div class="layui-inline">
                <input type="text" name="classroom" placeholder="上课教室" autocomplete="off"
                       class="layui-input" value="{$onCourse.classroom}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">提交修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <a href="{:url('/findOnCourse')}">
                <button type="button" class="layui-btn layui-btn-primary">后退</button>
            </a>
        </div>
    </div>
</form>

</body>
</html>